@import "variables/variables";

:host {
  display: block;
}

.dashboard-container {
  @include flex($flex-direction: column);
  @include toggle-transition;
  background-color: #f3f4f7;
  padding-left: 0;
  min-height: 100vh;

  &.opened {
    padding-left: var(--side-bar-size, 0px);
  }
}

.dashboard-item-container {
  flex: 1;
  padding: $dashboard-content-spacing;
}

.dashboard-header-sticky {
  position: sticky;
  top: 0;
}