@import "variables/variables";

.dashboard-header-container {
  background-color: #dcdcdc;
  border-bottom: 1px solid $border-color;
  height: 58px;
  padding: 16px;
}

.icon-wrapper {
  @include size(40px, 26px);
  cursor: pointer;

  img {
    @include size(100%);
  }
}