@import "variables/variables";

input {
  border: 1px solid #8c8c8c;
  padding: 8px;

  &::placeholder {
    color: #94a3b8;
  }

  &:focus-visible,
  &:focus {
    border-color: $border-color;
  }
}

.form-control {
  @include flex($flex-direction: column, $gap: 8px);
}