@import '_breakpoints';

@mixin flex($justify-content: null, $align-items: null, $gap: null, $flex-direction: null, $flex-wrap: null) {
  display: flex;

  @if $justify-content != null {
    justify-content: $justify-content;
  }

  @if $align-items != null {
    align-items: $align-items;
  }

  @if $gap != null {
    gap: $gap;
  }

  @if $flex-direction != null {
    flex-direction: $flex-direction;
  }

  @if $flex-wrap != null {
    flex-wrap: $flex-wrap;
  }
}

@mixin hide-on-mobile($display: block) {
  display: none;
  @media #{$media-only-desktop} {
    display: $display;
  }
}

@mixin show-on-mobile($display: block) {
  display: $display;
  @media #{$media-only-desktop} {
    display: none;
  }
}

@mixin size($width, $height: null) {
  width: $width;

  @if $height != null {
    height: $height;
  } @else {
    height: $width;
  }
}

@mixin toggle-transition {
  transition: all 300ms ease;
}