@import '_breakpoints';
@import '_mixins';
@import '_typography';

$main-color: #8c5348;
$border-color: #6b3d35;
$side-bar-header-height: 56px;
$dashboard-content-spacing: 16px;

$primary-btn-color: #0d6efd;
$success-btn-color: #198754;
$danger-btn-color: #dc3545;

:root {
  --side-bar-size: 255px
}