@use "./app/design-system" as var;

mat-toolbar {
  background-color: var.$main-blue;
  min-height: var.$headerHeight;
}

button {
  color: var.$white;
}

h1 {
  color: var.$white;
}

@media #{var.$media-tablet-portrait} {
  mat-toolbar {
    min-height: var.$headerHeightMobile;
  }
}
