@use "./app/design-system" as var;

.header-container {
  background-color: var.$main-blue;
  padding: 35px 20px;
}

.header-title {
  color: var.$white;
  font-size: var.$fs-24;
}

@media #{var.$media-tablet-portrait} {
  .header-container {
    padding: 15px 20px;
  } 
}