<div class="side-bar-container" [ngClass]="{'opened': dashboardService.isDashboardOpened}">
  <div class="side-bar-header">
    <img src="header-icon.svg" />
    <h1>SchoolManager</h1>
  </div>
  
  <div class="side-bar-body">
    <ul class="items">
      <li>
        <a href="#">Dashboard</a>
      </li>
      <li>
        <a href="#">Courses</a>
      </li>
      <li>
        <a href="#">Students</a>
      </li>
      <li>
        <a href="#">Teachers</a>
      </li>
    </ul>
  </div>
  
  <div class="side-body-footer">
    <p>All rights reserved</p>
  </div>
</div>