@import "variables/variables";

.side-bar-container {
  @include flex($flex-direction: column);
  @include size(var(--side-bar-size), 100%);
  @include toggle-transition;
  @include size(var(--side-bar-size), 100%);
  background-color: #eaeaea;
  position: fixed;
  transform: translateX(-100%);

  &.opened {
    transform: translateX(0);
  }
}

.side-bar-header {
  @include flex($align-items: center, $gap: 16px);
  border-bottom: 1px solid $border-color;
  padding: 16px;

  img {
    @include size(25px);
  }

  h1 {
    font-size: $fs-16;
  }
}

.side-bar-body {
  flex: 1;
  overflow-y: auto;
  padding: 16px;

  .items {
    @include flex($flex-direction: column, $align-items: center, $gap: 12px);

    li {
      text-align: center;
      width: 100%;
    }

    a {
      border-radius: 8px;
      color: black;
      display: block;
      padding: 16px;
      text-decoration: none;
      transition: all 300ms;
      width: 100%;

      &:hover,
      &.active {
        background-color: #e0e0e0;
      }
    }
  }
}

.side-body-footer {
  color: gray;
  margin-top: auto;
  padding: 16px;
  text-align: center;
}