<div class="login-form-container">
  <img class="login-form-img" [src]="constants.assetsPath + 'images/login/login-img.png'" alt="" />

  <h2 class="login-form-title">Welcome to EduManage</h2>

  <div class="login-form">
    <div class="form-field email-field">
      <div class="field-label">Email</div>

      <app-basic-input
        [inputAttributes]="{
          id: 'email',
          name: 'email',
          maxLength: 10,
        }"
        placeholder="Enter your email"
      />
    </div>

    <div class="form-field password-field">
      <div class="field-label">Password</div>

      <app-basic-input 
        [inputAttributes]="{
          id: 'password',
          name: 'password',
          maxLength: 10,
        }"
        placeholder="Enter your password"
      />
    </div>
  </div>

  <button class="submit-btn">Login</button>

  <p class="forget-password-text">Forgot your password? <a class="reset-password-link" routerLink="">Reset it here</a></p>
</div>