@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: normal;
  src: url('Inter/Inter-Italic-VariableFont.ttf');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  src: url('Inter/Inter-VariableFont.ttf');
}