@use "./app/design-system" as var;

app-side-menu {
  @include var.toggle-transition;
  height: 100%;
  position: absolute;
  transform: translateX(-100%);

  &.side-menu-opened {
    @include var.size(100%);
    max-width: var.$sideMenuWidth;
    transform: translateX(0);
  }
}

.dashboard-container {
  color: var.$white;
  height: 100%;
  position: relative;
}

.side-menu-content {
  @include var.size(100%);
  @include var.toggle-transition;
  background-color: rgba(gray, 0.05);
  color: black;
  margin-left: 0;

  &.side-menu-opened {
    @include var.size(calc(100% - var.$sideMenuWidth), 100%);
    margin-left: var.$sideMenuWidth;
  }
}
